<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>Disease Class Prediction Machine Leaning Application</h1>
    <form method="post" action="/model">
        <h3>Enter your Age</h3><input type="text" name="c1"><br>
        <h3>Enter your Gender</h3><input type="text" name="g"><br>
        <h3>Enter your height in cm</h3><input type="text" name="c2"><br>
        <h3>Enter your Weight</h3><input type="text" name="c3"><br>
        <h3>Enter your body Fat %</h3><input type="text" name="c4"><br>
        <h3>Enter your Diastolic BP</h3><input type="text" name="c5"><br>
        <h3>Enter your Systolic BP</h3><input type="text" name="c6"><br>
        <h3>Enter your Grip Force</h3><input type="text" name="c7"><br>
        <h3>Enter your Sit and Bend Forward in cm</h3><input type="text" name="c8"><br>
        <h3>Enter your Sit-ups count</h3><input type="text" name="c9"><br>
        <h3>Enter your broad jump in cm</h3><input type="text" name="c10"><br>
        <input type="submit" value="Predict Disease Class"> 
    </form>
</body>
</html>